@page "/edit"
@using PayMaster.Data
<h3>Edit</h3>

<!-- Employee search -->
<div class="container-fluid">
  <div class="row my-2">
    <h2 class="text-center">Edit Employee</h2>
  </div>
  <div class="row">
    <form class="d-flex flex-row my-1">
      <div class="col mx-1">
        <label for="code" class="form-label">First name:</label>
        <input type="text" id="code" class="form-control form-control-sm" @bind="firstName">
      </div>
      <div class="col mx-1">
        <label for="airline" class="form-label">Last name:</label>
        <input type="text" id="airline" class="form-control form-control-sm" @bind="lastName">
      </div>
      <div class="col align-self-end">
        <button type="button" class="btn btn-primary btn-sm w-100 btn-block" onclick="@SearchEmployee">
          Search employee
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Display results -->
<div>
        <div class="row my-2">
            <h2 class="text-center">Employees</h2>
          </div>
        <div class="col">
          <select class="form-select form-select-sm">
            <option readonly="default">Employees</option>
            @foreach (var e in matchingEmployees)
            {
              <option value="@e.FirstName">@e.FirstName @e.LastName</option>
            }
          </select>
        </div>
      </div>

@code {
  string firstName;
  string lastName;
  List<HourlyEmployee> listOfEmployees;
  List<HourlyEmployee> matchingEmployees = new();

  protected override void OnInitialized()
  {
    GetAllEmployees();
  }

  private async void GetAllEmployees()
  {
    listOfEmployees = await App.Repo.GetEmployees();
  }

  private void SearchEmployee()
  {
    matchingEmployees.Clear();

    if (string.IsNullOrEmpty(firstName) && string.IsNullOrEmpty(lastName))
    {
      matchingEmployees.AddRange(listOfEmployees);
    }
    else
    {
      matchingEmployees.AddRange(listOfEmployees.Where
        (employee => (string.IsNullOrEmpty(firstName) || employee.FirstName == firstName) &&
                     (string.IsNullOrEmpty(lastName) || employee.LastName == lastName)));
    }

    if (matchingEmployees.Count == 0) App.Current.MainPage.DisplayAlert("No results found", "No matching results", "Close");

    firstName = null;
    lastName = null;

  }
}